@import "./blog_post.css";
@import "./medium.css";
@import "./large.css";

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 325px 325px 325px;
    grid-gap: 50px;
    grid-template-areas: 
    "one two"
    "three four"
    "five six";
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    /* align-items: center; */
}

.box {
    border: 1px solid orange;
    background: white;
    display: flex;
    padding: 10px;
}

.blog-1 {
    grid-area: one;
}

.blog-2 {
    grid-area: two;
}

.blog-3 {
    grid-area: three;
}

.blog-4 {
    grid-area: four;
}

.blog-5 {
    grid-area: five;
}

.blog-6 {
    grid-area: six;
}

.footer-container {
    display: grid;
    grid-template-columns: 75%;
    grid-template-areas: 
    "co co git git lin lin cr cr";
}

.footer-copyright {
    grid-area: co;
}

.footer-built {
    grid-area: cr;
}

.footer-github {
    grid-area: git;
}

.footer-linkedin {
    grid-area: lin;
}

/* Medium Screens */
/* @media(min-width: 600px) and (max-width: 900px) {
    .container {
        display: grid;
        grid-template-columns: 200px 200px;
        grid-template-rows: 300px 300px 300px;
        grid-gap: 50px;
        grid-template-areas: 
        "one one two two"
        "three three four four"
        "five five six six";
        justify-content: center;
    }
} */

/* Large Screens */
/* @media(min-width: 901px) {
    .container {
        display: grid;
        grid-template-columns: 200px 200px;
        grid-template-rows: 300px 300px 300px;
        grid-gap: 50px;
        grid-template-areas: 
        "one one one two two two"
        "three three three four four four"
        "five five five six six six";
        justify-content: center;
    }
}  */